# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Optional for GitHub Actions CI/CD Database Push:
# SUPABASE_ACCESS_TOKEN=
# SUPABASE_PROJECT_ID=
# SUPABASE_DB_PASSWORD=
